@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;1,400&family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap');

* {
    font-family: 'Roboto','Nunito', sans-serif;
}

::-webkit-scrollbar{
    background-color: #27304F;
    color: #27304F;
    width: 15px;
    border-radius: 15px;
}

::-webkit-scrollbar-thumb{
    background-color: #0F193B;
    border-radius: 15px;
}

::-webkit-scrollbar-track{
    background-color: #27304F;
    color: #27304F;
}